<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<title>Sorteo</title>
</head>
<body>
	<div class="container-particip">
		<div class="show-container">
			<span class="Sshow">Mostrar</span>
			<select name="" id="" class="Btn show">
				<option value="10">10</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select>
			<span class="Sshow"> Participantes</span>
		</div>
		<table class="parti">
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>DNI</th>
			</tr>
		</table>
	</div>
	<div class="container-winners">
		<table class="winners">
			<tr>Q pedo</tr>
		</table>
	</div>

</body>
</html>