<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./resources/style.css"> <!-- Cambiar -->
    <title>Atlantida FM</title>
</head>
<body>
    <div class="topFrameMain">
        <img class="image" src="image1.png" alt="Image"> <!-- Cambiar -->
        <div class="glass"><h1 class="tittle1">SORTEO ATLANTIDA FM</h1></div>
    </div>
    <div class="middleFrame">
        <div class="leftFrame">
            <img class="imgRadio" src="Radio.jpg" alt="Atlantida FM">
            <iframe border="0" frameborder="NO" width="350px" height="495px" scrolling="NO" marginheight="0px" marginwidth="0px" allowtransparency="yes" src="https://www.solumedia.com.ar/radios/8682/index.html"></iframe>
            <div class="listenContainer">
                <div class="line3"></div>
                <h3 class="tittle3">ESCUCHA RADIO ATLÁNTIDA FM 96.1 EN VIVO</h3>
            </div>
        </div>
        <div class="rightFrame">
            <div class="textContainer">
                <div class="tittle2Container">
                    <h2 class="tittle2">NUESTRA RADIO</h2>
                    <div class="line2"></div>
                </div>
                <p>La Estación Atlántida, es la “primera radio-escuela en Internet del país”.</p>
                <p>Su programación contiene además de música y programas de tributo a solistas y grupos en la historia de la misma, micros educativos (refiriendo contenidos curriculares), consejos sobre salud, bienestar, calidad de vida, cuidado del medio ambiente, valores.</p>
                <p>Además, incluye programas realizado íntegramente por alumnos que se transmiten los Miércoles de 12:30 hs a 13:30 hs, y un magazine que se emite los sábados de 10 a 12 hs con la participación de docentes, alumnos e invitados especiales: La nueva educación.</p>
            </div>
            
        </div>
    </div>
    <div class="bottomFrame">
        <button class="btnShowS" value="" href="next_home.html">VER SORTEO</button>
    </div>
    <script src="reproductor.js"></script><!-- Cambiar -->
</body>
</html>

<!-- 
NUESTRA RADIO
-->